<!-- Search page for FoodReview -->
<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title> Title here please?</title>

  <!--Required for bootstrap responsive/fluid/auto-resize layouts-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../images/favicon.ico">
  <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="../flat-ui/css/flat-ui.css" rel="stylesheet">
  <link href="../css/foodreview.css" rel="stylesheet">
  <script src="../flat-ui/js/jquery-1.8.3.min.js"></script>
  <script src="../js/fb-login.js"></script>
  <script src="../js/test.js"></script>
</head>

<body onload="testLogin()">

  <!--FACEBOOK LOGIN must be here-->
  <div id="fb-root"></div>


  <div class = "container-fluid" id="wrap">
    <!--Navigation bar at the top-->
    
    <div class = "navbar-wrapper">
      <div class = "navbar navbar-inverse span8">
        <div class = "navbar-inner">
          <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class = "brand" href = "/">HungryNUS</a>
          <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed within .navbar-collapse.collapse. -->
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href = "/"><i class = "icon-home icon-white"></i> Home</a></li>
              <li><a href = "/addlist"><i class = "icon-plus icon-white"></i> Add</a></li>
              <li><a href = "/search"><i class = "icon-book icon-white"></i> Search</a></li>
              <li><a href = "/"><i class = "icon-question-sign icon-white"></i> Help</a></li>
            </ul>
          </div>  <!--/nav collapse-->
        </div>  <!--/navbar inner rounded-->
      </div>  <!--/navbar rectangle-->
    </div>  <!--/navbar wrapper-->


    <div class = "container-fluid">
      <div class = "row-fluid">

        <!--///////////////////////////////////////-->
        <!--//Page content goes inside the span10//-->
        <!--///////////////////////////////////////-->
        <div class = "span10 hidepage" id="page">

          <form class="form-search" action = "/addlist" method = "post">
            
            <div class="control-group row-fluid">
              <div class="span3">
                <label class="control-label" for="nameInput"><strong>Name of Stall</strong></label>
                <div class="controls">
                  <input type="text" id="nameInput" class="input-medium search-query" name="stall_name">
                </div>
              </div>
            </div>

            <div class="control-group row-fluid">
              <div class="span5">
                <label class="control-label" for="imgInput"><strong>Photo</strong></label>
                <div class="controls">
                  <input type="url" id="imgInput" class="input-medium search-query" name="stall_photo">
                </div>
              </div>
            </div>

            <div class="control-group row-fluid">
              <div class="span5">
                <label class="control-label" for="descInput"><strong>Description</strong></label>
                <div class="controls">
                  <textarea rows="7" name="stall_desc" id="descInput"></textarea>
                </div>
              </div>
            </div>

            <!--<div class="control-group">
              <label class="control-label" for="fileInput"><strong>File Input</strong></label>
              <div class="controls">
                <div style="position:relative;">
                <button class='btn'>
                Choose File
                <input type="file" id="fileInput" name="stall_photo" onchange='$("#upload-file-info").html($(this).val());'>
                </button>
                &nbsp;
                <span class='label label-info' id="upload-file-info">No File Chosen</span>
                </div>
              </div>
            </div>-->

            <!--Tags-->
            <div class="control-group row-fluid">
              <div class="span3">
                <label class="control-label" for="tagsInput"><strong>Tags</strong></label>
                <div class="controls">
                  <input name="stall_tags" id="tagsInput" class="tagsinput" value="">
                </div>
              </div>        
            </div>  <!--/tags-->

            <div style="display:none;">
              <input type="hidden" name="user_id" id="userid">
              <input type="hidden" name="user_name" id="username">
            </div>

            <div class="row-fluid">
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </form>
          <h2>Test string is {{ string }}</h2>


        </div>  <!--/span10-->

        <!--//////////////////PAGE END///////////////////////-->

        <!--Sidebar-->
        <div class = "span2 palette-clouds sidebar">
          <ul class = "nav nav-list">
            <li><a href = "/">sidebar1</a></li>
            <li><a href = "/">sidebar2</a></li>
            <li><a href = "/">sidebar3</a></li>
            <!--
              Below we include the Login Button social plugin. This button uses the JavaScript SDK to
              present a graphical Login button that triggers the FB.login() function when clicked.

              Learn more about options for the login button plugin:
              /docs/reference/plugins/login/ -->

            <li><div class="fb-login-button" data-show-faces="true" data-width="200" size="large" data-max-rows="1"></div></li>
            <li></li>
            <li><a href="javascript:writeName()" class="btn">Write name to console</a></li>
            <li><div class="btn btn-primary" onclick="verifyLogout()">Logout</div></li>
          </ul>
        </div>

      </div>  <!--/row-->

    </div>  <!--/container-->

  </div>  <!--/wrap-->


  <!--Footer-->
  <div class = "container-fluid">
    <footer>
      <ul class = "inline">
        <li><a href = "http://glyphicons.com" target = "_blank">Glyphicons</a></li>
        <li><a href = "http://designmodo.com/flat-free" target = "_blank">Flat UI</a></li>
        <li><a href = "http://www.nus.edu.sg/oed/services/retail-and-dining/outlets.htm" target = "_blank">oed</a></li>
      </ul>
    </footer>
  </div>  <!--/container-->






  <!--////////        All JS loaded here       //////////-->
  <script src="../flat-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="../flat-ui/js/jquery.ui.touch-punch.min.js"></script>
  <script src="../flat-ui/js/bootstrap.min.js"></script>
  <script src="../flat-ui/js/bootstrap-select.js"></script>
  <script src="../flat-ui/js/bootstrap-switch.js"></script>
  <!--<script src="../flat-ui/js/flatui-checkbox.js"></script>
  <script src="../flat-ui/js/flatui-radio.js"></script>-->
  <script src="../flat-ui/js/jquery.tagsinput.js"></script>
  <script src="../flat-ui/js/jquery.placeholder.js"></script>
  <!--<script src="../flat-ui/js/jquery.stacktable.js"></script>
  <script src="http://vjs.zencdn.net/c/video.js"></script>-->
  <script src="../flat-ui/js/application.js"></script>
</body>
</html>