<!-- Display each individual stall's details page for FoodReview -->
<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title> Title here please?</title>

  <!--Required for bootstrap responsive/fluid/auto-resize layouts-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../images/favicon.ico">
  <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="../flat-ui/css/flat-ui.css" rel="stylesheet">
  <link href="../css/jquery.tagit.css" rel="stylesheet" type="text/css">
  <link href="../css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">
  <link href="../css/rateit.css" rel="stylesheet">
  <link href="../css/foodreview.css" rel="stylesheet">
  <script src="../flat-ui/js/jquery-1.8.3.min.js"></script>
</head>

<body>
  <div class = "container-fluid" id="wrap">
    <!--Navigation bar at the top-->
    
    <div class = "navbar-wrapper">
      <div class = "navbar navbar-inverse span8">
        <div class = "navbar-inner">
          <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class = "brand" href = "/">HungryNUS</a>
          <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href = "/"><i class = "icon-home icon-white"></i> Home</a></li>
              <li><a href = "/addlist"><i class = "icon-plus icon-white"></i> Add</a></li>
              <li><a href = "/search"><i class = "icon-book icon-white"></i> Search</a></li>
              <li><a href = "/addreview"><i class = "icon-plus icon-white"></i> AddReview</a></li>
              <li><a href = "/reviews"><i class = "icon-book icon-white"></i> Reviews</a></li>
              <!--<li><a href = "/"><i class = "icon-question-sign icon-white"></i> Help</a></li>-->
            </ul>
          </div>  <!--/nav collapse-->
        </div>  <!--/navbar inner rounded-->
      </div>  <!--/navbar rectangle-->
    </div>  <!--/navbar wrapper-->


    <div class = "container-fluid">
      <div class = "row-fluid">

        <!--///////////////////////////////////////-->
        <!--//Page content goes inside the span10//-->
        <!--///////////////////////////////////////-->
        <div class = "span10" id="page">

          <div class="row-fluid">
            <div class="hero-unit offset2"><h1>{{ stall.name }}</h1>
            Test string is {{ string }}<br>
            search variable is {{ search }}
            </div>
            <!--Tabs-->
              <ul class="nav nav-tabs">
                <li class="active"><a href="#Details" data-toggle="tab">Details</a></li>
                <li class=""><a href="#Reviews" data-toggle="tab">Reviews</a></li>
                <li class=""><a href="#Photos" data-toggle="tab">Photos</a></li>
                <li class=""><a href="#Rate" data-toggle="tab">Rate</a></li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="Details">
                  <h1 style="font-size:50;">{{ stall.name }}</h1>
                  <img class="offset1" src="{{  stall.photo  }}" style="max-height:250px; max-width:250px;">
                  <p>
                    Description of stall<br><br>
                    {{ stall.description }}
                  </p>        
                  <div class="span3">
                    <input id="readOnlyTags" value="
                    {% for review in reviews %}
                      {{review.tags}},
                    {% endfor %}
                    {{stall.tags}}">
                  </div>
                </div>
                <div class="tab-pane fade" id="Reviews">
                  <p>Reviews go here</p>
                  <table class="table table-bordered table-striped">
                    <thead>
                      <!--<tr><th>Stall Name</th>--><th width="30%">Photo</th><th width="30%">Review</th><th>Rating</th><th>Date</th></tr>
                    </thead>
                    <tbody>
                      {% for review in reviews %}
                      <tr>
                        <!--<td>{{ review.stallname }}</td>-->

                        <td>
                          {% if review.photo != "" %}
                          <aref="{{ review.photo }}" target="_blank"><img class = "itemimage" src="{{ review.photo }}" alt="{{ review.stallname }}" style="max-height:250px; max-width:250px;">
                          {% endif %}
                        </td>

                        <td>{{ review.text }}</td>
                        <!--text should be truncated, click to access individual review-->

                        <td>  <!--rating-->
                          <div class="rateit" data-rateit-value="{{review.rating}}" data-rateit-max="6" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        </td>

                        <td>{{ review.date.strftime('%A, %d %B %Y %I:%M%p') }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="Photos">
                  <p>
                    Photos of stall<br><br>
                    <aref="{{ stall.photo }}" target="_blank"><img class = "itemimage" src="{{ stall.photo }}" alt="{{ stall.name }}" style="max-height:250px; max-width:250px;">
                  </p>
                </div>
                <div class="tab-pane fade" id="Rate">
                  <div class="rateit" data-rateit-value="{{stall.rating}}" data-rateit-max="6" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                </div>
              </div>  <!--/tab-->

          </div>


        </div>  <!--/span10-->
        <!--//////////////////PAGE END///////////////////////-->

        <!--Sidebar-->
        <div class = "span2 palette-clouds sidebar">
          <ul class = "nav nav-list">
            <li><a href = "/">sidebar1</a></li>
            <li><a href = "/">sidebar2</a></li>
            <li><a href = "/">sidebar3</a></li>
          </ul>
        </div>

      </div>  <!--/row-->

    </div>  <!--/container-->

  </div>  <!--/wrap-->


  <!--Footer-->
  <div class = "container-fluid">
    <footer>
      <ul class = "inline">
        <li><a href = "http://glyphicons.com" target = "_blank">Glyphicons</a></li>
        <li><a href = "http://designmodo.com/flat-free" target = "_blank">Flat UI</a></li>
        <li><a href = "http://www.nus.edu.sg/oed/services/retail-and-dining/outlets.htm" target = "_blank">oed</a></li>
      </ul>
    </footer>
  </div>  <!--/container-->






  <!--////////        All JS loaded here       //////////-->
  <script src="../flat-ui/js/jquery-1.8.3.min.js"></script>
  <script src="../flat-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="../flat-ui/js/jquery.ui.touch-punch.min.js"></script>
  <script src="../flat-ui/js/bootstrap.min.js"></script>
  <script src="../flat-ui/js/bootstrap-select.js"></script>
  <script src="../flat-ui/js/bootstrap-switch.js"></script>
  <script src="../flat-ui/js/flatui-checkbox.js"></script>
  <script src="../flat-ui/js/flatui-radio.js"></script>
  <script src="../flat-ui/js/jquery.tagsinput.js"></script>
  <script src="../flat-ui/js/jquery.placeholder.js"></script>
  <script src="../flat-ui/js/jquery.stacktable.js"></script>
  <script src="http://vjs.zencdn.net/c/video.js"></script>
  <script src="../flat-ui/js/application.js"></script>

  <script src="../js/tag-it.js" type="text/javascript" charset="utf-8"></script>
  <script src="../js/jquery.rateit.js"></script>
  <script src="../js/test.js"></script>
</body>
</html>