<!-- Main page for FoodReview -->
<!DOCTYPE HTML>
<html lang = "en">
  	<head>
    	<title> What is this...</title>

    	<!--Required for bootstrap responsive/fluid/auto-resize layouts-->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="author" content="Kenneth Ang">
    	<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    	<link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  	</head>

	<body>
		<!--Navigation bar at the top-->
		<div class = "container-fluid">
			<div class = "navbar">
				<div class = "navbar-inner">
					<ul class = "nav nav-pills">
						<li><a href = "/"><i class = "icon-home"></i> Home</a></li>
						<li><a href = "/search"><i class = "icon-book"></i> Search</a></li>
						<li><a href = "/"><i class = "icon-question-sign"></i> Help</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!--One big rectangle-->
		<div class = "container-fluid">
			<!--One row inside-->
			<div class = "row-fluid">
				
				<!--Cell one span (size) 10 columns-->
				<div class = "span10">
					<p>Go away! No one asked you to visit this site!<sup>*</sup></p>
					<br>
					<p><sub><sup>*</sup>In the politest tone you can imagine :)</sub></p>
				</div>

				<!--Cell two span 2 columns-->
				<div class = "span2">
					<ul class = "nav nav-list">
						<li><a href = "/">Sidebar1</a></li>
						<li><a href = "/">sidebar2</a></li>
						<li><a href = "/">sidebar3</a></li>
					</ul>
				</div>

			</div>
		</div>

		<!--Credits-->
		<br><br>
		<p>Thanks to <a href = "http://glyphicons.com" target = "_blank">Glyphicons</a> for the icons.</p>
	</body>
</html>